@import "bootstrap";
@import "jinmediaReboot";
@import "magic_pop";
@import "agreement";
@import "slick";
@import "slick-theme";

html{
  min-height: 100%;
}

$temlatePath: '..';
$mainBackgroundColor: #ffffff;
$mobileMenuOpenColor: #ffffff;

@font-face {
  font-family: Montserrat-Bold;
  src: url(#{$temlatePath}/css/fonts/Montserrat-Bold.ttf);
}
.f_Montserrat-Bold{
  font-family: Montserrat-Bold, sans-serif;
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url(#{$temlatePath}/css/fonts/Montserrat-SemiBold.ttf);
}
.f_Montserrat-SemiBold{
  font-family: Montserrat-SemiBold, sans-serif;
}
@font-face {
  font-family: Montserrat-Medium;
  src: url(#{$temlatePath}/css/fonts/Montserrat-Medium.ttf);
}
.f_Montserrat-Medium{
  font-family: Montserrat-Medium, sans-serif;
}
@font-face {
  font-family: Montserrat-Regular;
  src: url(#{$temlatePath}/css/fonts/Montserrat-Regular.ttf);
}
.f_Montserrat-Regular{
  font-family: Montserrat-Regular, sans-serif;
}
@font-face {
  font-family: Montserrat-Italic;
  src: url(#{$temlatePath}/css/fonts/Montserrat-Italic.ttf);
}
.f_Montserrat-Italic{
  font-family: Montserrat-Italic, sans-serif;
}

.fs_10{
  font-size: 10px;
}
.fs_12{
  font-size: 12px;
}
.fs_14{
  font-size: 14px;
}
.fs_16{
  font-size: 16px;
}
.fs_18{
  font-size: 18px;
}
.fs_24{
  font-size: 24px;
}
.fs_30{
  font-size: 30px;
}
.fs_36{
  font-size: 36px;
}

.fc_fff{
  color: #ffffff;
}
.fc_7e7e7e{
  color: #7e7e7e;
}
.fc_2e2e2e{
  color: #2e2e2e;
}

.fc_47b5b6{
  color: #47b5b6;
}

.fls_05{
  letter-spacing: .5px;
}
.fls_06{
  letter-spacing: .6px;
}
.fls_07{
  letter-spacing: .7px;
}
.fls_08{
  letter-spacing: .8px;
}
.fls_09{
  letter-spacing: .9px;
}
.fls_12{
  letter-spacing: 1.2px;
}
.fls_15{
  letter-spacing: 1.5px;
}
.fls_18{
  letter-spacing: 1.8px;
}

.flh_24{
  line-height: 24px;
}

.text-align_center{
  text-align: center;
}
.text-transform_uppercase{
  text-transform: uppercase;
}

.flex{
  display: flex;
}
.flex_col{
  flex-direction: column;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.absolute_100prc{
  @extend .absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body{
  @extend .f_Montserrat-Regular;
  background-color: $mainBackgroundColor;
  min-height: 100vh;
}
.page{
  @extend .flex,.flex_col;
  min-height: 100vh;
  background-color: $mainBackgroundColor;
}
.main{
  @extend .relative;
  flex: 1;
}

.btn_slideout{
  rect{
    fill: #ffbe29;
    &:first-child{
      fill: #7cc623;
    }
    &:last-child{
      fill: #df0024;
    }
  }
  @include media-breakpoint-up(lg){
    display: none;
  }
}


.left_menu {
  @extend .text-transform_uppercase,.fs_16,.fc_fff;
  ul{
    padding: 10px 20px 0;
    >li{
      border-bottom: thin solid rgba(255, 255, 255, 0.2);
      >a{
        padding: 18px 0;
        width: 100%;
        font-size: 18px;
      }
    }
  }
}
.inner_lm{
  padding: 0 20px;
}
.socIco_lm{
  margin-top: 20px;
}

.socIco{
  .socIco_item{
    transition: transform .2s ease, box-shadow .2s ease;
    height: 42px;
    width: 42px;
    border-radius: 6px;
    &:not(:last-child){
      margin-right: 10px;
    }
    &.facebook{
      background-color: #254395;
    }
    &.vk{
      background-color: #006cb7;
    }
    &.instagram{
      background: -webkit-linear-gradient(45deg, #f0ea33 15%, #e67b3c 35%, #dc2727 50%, #cc2366 60%, #7518bc 85%);
      background: -o-linear-gradient(45deg, #f0ea33 15%, #e67b3c 35%, #dc2727 50%, #cc2366 60%, #7518bc 85%);
      background: linear-gradient(45deg, #f0ea33 15%, #e67b3c 35%, #dc2727 50%, #cc2366 60%, #7518bc 85%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    }
    &:hover{
      transform: scale(1.1);
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.71);
    }
    svg{
      height: 65%;
      path{
        fill: #ffffff;
      }
    }
  }
}

#buttonUp{
  $borderButtonUp: 4px;
  display: none;
  z-index: 10;
  background: #8e8e8e;
  width: 40px;
  height: 40px;
  border-radius: #{$borderButtonUp};
  -moz-border-radius: #{$borderButtonUp};
  -webkit-border-radius: #{$borderButtonUp};
  position: fixed;
  bottom: -100px;
  right: 10px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow: hidden;
  opacity: .7;
  &.active{
    bottom: 30px;
  }
  &:hover{
    opacity: 1;
  }
  svg{
    top: 1px;
    position: relative;
    path{
      fill: #ffffff;
    }
  }
}

//--siteDefault--//

.def_title{
  @extend .f_Montserrat-Medium,.fs_24,.fc_2e2e2e,.fls_18,.text-transform_uppercase,.text-align_center;
  @include media-breakpoint-up(sm){
    font-size: 32px;
  }
  @include media-breakpoint-up(md){
    font-size: 36px;
    text-align: left;
  }
}
.def_desc{
  @extend .f_Montserrat-Regular,.fs_14,.fls_07,.text-align_center;
  line-height: 24px;
}
.ico{
  font-size: 0;
}
.cursorPointer{
  cursor: pointer;
}
.transitionColor{
  transition: color .3s ease;
}
.transitionColorBgndColor{
  transition: color .3s ease, background-color .3s ease;
}
.transitionAll{
  transition: .3s ease;
}
.def_button{
  @extend .transitionAll,.f_Montserrat-Medium,.fs_14,.fls_07,.flex,.align-items-center,.justify-content-center;
  min-height: 50px;
  border-radius: 8px;
  background-color: #ffffff;
  border: solid 2px;
}
.slideNavBtn{
  @extend .transitionAll;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
}
.slider__arrowBlock{
  @extend .absolute,.flex;
}
.btn_mobile{
  @include media-breakpoint-up(lg){
    display: none;
  }
}
img{
  object-fit: cover;
  object-position: center;
  &.imgFit{
    @extend .absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


//--siteStyle--//
.header{
  &.otherPage{
    box-shadow: 0 0 30px 16px rgba(0, 0, 0, 0.1);
  }
}
.header__variantLine{
  background-color: #2e2e2e;
  @include media-breakpoint-down(md){
    display: none;
  }

}
.header_variantCityWrap{
  @include media-breakpoint-up(xl){
    margin: 0;
  }
}
.header_variantLabelWrap{
  @include media-breakpoint-up(lg){
    margin: 0;
  }
  @include media-breakpoint-up(xl){
    padding-right: 30px;
  }
  @media (min-width: 1199.92px) and (max-width: 1450px) {
    padding-right: 0;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}
.header__variantLabel{
  @extend .text-align_center;
  background-color: #f2f2f2;
  padding-top: 12px;
  padding-bottom: 12px;
  .title{
    @extend .f_Montserrat-Medium,.fs_14,.fls_07,.fc_7e7e7e,.text-transform_uppercase;
  }
  .description{
    @extend .f_Montserrat-Regular,.fs_12,.fls_06,.fc_7e7e7e;
  }
  &.active{
    background-color: #FFFFFF;
    .title{
      @extend .fc_47b5b6;
    }
  }
  &:not(.active){
    @extend .cursorPointer;
    &:hover{
      background-color: #cfcfcf;
    }
  }
}
.header__getCity,.header__workMode{
  @extend .f_Montserrat-Regular,.fs_12,.fls_06;
  .ico{
    margin-right: 15px;
  }
}
.header__getCity{
  @extend .fc_fff,.cursorPointer;
  .text{
    border-bottom: solid 2px #ffffff8c;
    line-height: 13px;
  }
}
.header__workMode{
  @extend .fc_7e7e7e;
}
.header__mainLine{
  @include media-breakpoint-down(md){
    padding: 10px 0;
  }
  @include media-breakpoint-down(sm){
    padding: 10px 0 0;
  }
}
.header__logoWrap{
  padding-top: 25px;
  @include media-breakpoint-down(md){
    padding-top: 0;
  }
}
.searchForm-lg{
  @extend .relative;
  @include media-breakpoint-down(md){
    display: none;
  }
}
.openSearch{
  @include media-breakpoint-up(lg){
    display: none;
  }
  svg{
    width: 48px;
    height: auto;
    @include media-breakpoint-down(sm){
      width: 35px;
    }
  }
}
.searchInput{
  @extend .f_Montserrat-Regular,.fs_14,.fc_7e7e7e,.fls_07;
  border-radius: 25px;
  background-color: #f2f2f2;
  width: 100%;
  padding: 14px 0 14px 40px;
}
.runSearch{
  @extend .absolute;
  font-size: 0;
  right: 21px;
  top: 14px;
  bottom: 14px;
}
.header__callBackWrap{
  @include media-breakpoint-down(sm){
    display: none;
  }
}
.header__callBackBtn{
  @extend .def_button,.fc_47b5b6;
  width: 100%;
  border-color: #47b5b6;
  @include media-breakpoint-up(lg){
    &:hover{
      background-color: #47b5b6;
      color: #ffffff;
    }
  }
}
.header__sessionLink{
  @extend .f_Montserrat-Regular,.fs_10,.fls_05,.fc_7e7e7e,.text-transform_uppercase,.text-align_center;
  a{
    @extend .flex,.align-items-center,.justify-content-between,.flex-column;
    min-height: 55px;
    @include media-breakpoint-down(sm){
      min-height: auto;
      span{
        display: none;
      }
    }
  }
  @include media-breakpoint-down(lg){
    padding: 0 10px;
  }
  @include media-breakpoint-down(sm){
    padding: 0 15px;
  }
}
.wishListLink{
  @include media-breakpoint-down(sm){
    display: none;
  }
}
.header__menuLine{
  padding-top: 20px;
  @include media-breakpoint-down(md){
    display: none;
  }
}
.header__menuItem{
  padding-bottom: 20px;
}
.header__menuLinkItem{
  @extend .f_Montserrat-Medium,.fs_14,.fls_07,.fc_2e2e2e,.flex,.align-items-center,.justify-content-center,.text-transform_uppercase,.transitionColor;
  &.active{
    color: #b86ad9;
  }
  &:hover{
    color: #e269c4;
  }
  svg{
    margin-left: 5px;
  }
  @media (min-width: 1199.98px) and (max-width: 1350px) {
    font-size: 12px;
  }
}
.header__phoneWrap{
  .phoneIcoWrap{
    padding-right: 0;
  }
  a{
    @extend .f_Montserrat-Medium,.fs_24,.fls_12,.fc_2e2e2e;
    span{
      @extend .fs_14,.fls_07,.fc_7e7e7e;
    }
    @media (min-width: 1199.98px) and (max-width: 1502px) {
      font-size: 18px;
      span{
        font-size: 12px;
      }
    }
  }
}

.sliderLine{
  padding: 15px 0;
  background-color: #f2f2f2;
  overflow: hidden;
  .slider__arrowBlock{
    left: 30px;
    bottom: 15px;
  }
  .sliderBgndBlur{
    background: no-repeat center/cover;
    -webkit-filter: blur(58px);
    filter: blur(58px);
  }
}
.sliderCol{
  font-size: 0;
  &:first-child{
    &:not(.roznica){
      @include media-breakpoint-down(md){
        display: none;
      }
    }
  }
  &:last-child{
    @include media-breakpoint-up(md){
      padding-left: 0;
    }
  }
  img{
    width: 100%;
  }
}
.slider__arrow{
  background-color: #f2f2f2;
  width: 50px;
  height: 42px;
  &.prev{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    padding-left: 10px;
  }
  &.next{
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    padding-right: 10px;
  }
  @include media-breakpoint-up(lg){
    &:hover{
      background-color: #ffffff;
    }
  }
  &:active{
    background-color: #e9e9e9;
    transform: scale(.98);
  }
}

.productLine_homePage{
  padding-top: 75px;
  .slider__arrowBlock{
    right: 15px;
    top: 6px;
  }
  @include media-breakpoint-down(sm){
    padding-top: 40px;
    .slider__arrowBlock{
      top: 50px;
    }
  }

}
.productLineTitle{
  @extend .def_title;
  margin-bottom: 80px;
  @include media-breakpoint-down(sm){
    margin-bottom: 60px;
  }
}
.productBlock{
  @extend .flex,.flex-column,.justify-content-between;
  height: 100%;
  &.margin{
    padding-bottom: 30px;
  }
}
.prodBlock__imgWrap{
  @extend .relative;
  padding-top: 111.112%;
  overflow: hidden;
  img{
    @extend .absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .label{
    @extend .absolute,.f_Montserrat-Medium,.fc_fff,.text-transform_uppercase,.text-align_center;
    font-size: 10px;
    letter-spacing: .4px;
    padding-top: 50px;
    padding-bottom: 15px;
    transform: rotate(45deg);
    width: 140px;
    top: -20px;
    right: -50px;
  }
  &.sale{
    .label{
      background-color: #e269c4;
    }
  }
  &.action{
    .label{
      background-color: #bd74dc;
    }
  }
  &.new{
    .label{
      background-color: #ed7f61;
    }
  }
}
.prodInfoBlock{
  padding: 30px;
}
.prodName{
  @extend .f_Montserrat-Medium,.fs_14,.fls_07,.fc_2e2e2e,.text-align_center,.text-transform_uppercase;
  margin-bottom: 10px;
}
.prodCat{
  @extend .f_Montserrat-Medium,.fs_12,.fls_07,.fc_7e7e7e,.text-align_center;
  margin-bottom: 15px;
}
.prodAvail{
  @extend .f_Montserrat-Medium,.fs_14,.fls_07,.fc_47b5b6,.text-align_center;
  margin-bottom: 20px;
}
.prodPrice{
  @extend .f_Montserrat-Medium,.fs_18,.fls_09,.text-align_center;
  color: #e269c4;
  margin-bottom: 20px;
  .oldPrice{
    @extend .fs_14,.fls_07,.fc_7e7e7e;
    text-decoration: line-through;
    margin-right: 15px;
  }
}
.prodBuyButton{
  @extend .def_button,.fc_fff,.text-transform_uppercase;
  background-color: #47b5b6;
  border-color: #47b5b6;
  max-width: 220px;
  width: 100%;
  margin: 0 auto;
  svg{
    margin-right: 15px;
  }
  &:hover{
    background-color: transparent;
    color: #47b5b6;
    svg{
      path{
        fill: #47b5b6;
      }
    }
  }
}
.prodStarWrap{
  @extend .flex,.align-items-center,.justify-content-center;
  margin-top: 35px;
}
.starBlock{
  width: 17px;
  height: 17px;
  background: url("../images/1-4.png") no-repeat center;
  &:not(:last-child){
    margin-right: 6px;
  }
  &.active{
    background-image: url("../images/1.png");
  }
}

.brandsLine{
  padding-top: 100px;
  padding-bottom: 40px;
  &.roznica{
    padding-top: 200px;
    padding-bottom: 140px;
  }
  @include media-breakpoint-down(sm){
    padding-top: 50px;
    padding-bottom: 0;
  }
}
.brandsLineTitle{
  @extend .def_title;
  margin-bottom: 76px;
  @include media-breakpoint-down(sm){
    margin-bottom: 50px;
  }
}
.brandWrap{
  @extend .flex,.align-items-center,.text-align_center;
  @include media-breakpoint-down(sm){
    margin-bottom: 30px;
  }
}

.optLine{
  @extend .f_Montserrat-Regular,.fs_14,.fls_07,.fc_7e7e7e,.flh_24;
  padding: 100px 0 568px;
  background: no-repeat bottom url("../images/9.png");
  p,ul{
    margin-bottom: 35px;
  }
  b{
    @extend .f_Montserrat-Medium,.fc_2e2e2e;
  }
  .ulTitle{
    line-height: 36px;
    margin: 0;
    .purple{
      color: #d55e93;
    }
  }
  ul{
    line-height: 36px;
  }
  @include media-breakpoint-down(sm){
    padding: 60px 0 40px;
    background: none;
  }
}
.optTitle{
  @extend .def_title;
  margin-bottom: 75px;
  @include media-breakpoint-down(sm){
    margin-bottom: 40px;
  }
}

.footer{
  background-color: #2e2e2e;
  padding: 85px 0 35px;
  @include media-breakpoint-down(md){
    padding: 45px 0 30px;
  }
  @include media-breakpoint-down(xs){
    padding: 20px 0 10px;
  }
}
.footer__logoWrap{
  height: 100%;
  @include media-breakpoint-down(xs){
    margin-bottom: 30px;
  }
}
.footer__logo{
  font-size: 0;
}
.footer__logoText{
  @extend .f_Montserrat-Regular,.fc_7e7e7e,.fls_05;
  font-size: 10px;
}
.footer__menuWrap{
  @include media-breakpoint-down(md){
    display: none;
  }
}
.footer__menuLinkItem{
  @extend .f_Montserrat-Regular,.fs_12,.fls_06,.fc_fff,.text-transform_uppercase;
  text-decoration: underline;
  line-height: 30px;
  &:hover{
    color: #7e7e7e;
  }
  @media (max-width: 1350px) {
    font-size: 10px;
  }
}
.socTitle{
  @extend .f_Montserrat-Medium,.fs_14,.fls_07,.fc_fff,.text-transform_uppercase;
  margin-bottom: 30px;
  @include media-breakpoint-down(xs){
    margin-bottom: 10px;
  }
}
.signUpWrap{
  @include media-breakpoint-down(lg){
    margin: 30px auto 0;
  }
}
.signUpTitle{
  @extend .f_Montserrat-Medium,.fs_14,.fls_07,.fc_fff;
  margin-bottom: 30px;
}
.signUpForm{
  border-radius: 8px;
  overflow: hidden;
}
.signUpInput{
  @extend .f_Montserrat-Regular,.fs_14,.fls_07,.fc_7e7e7e;
  background-color: #ffffff;
  padding: 19px;
}
.signUpSubmit{
  @extend .f_Montserrat-Medium,.fs_14,.fls_07,.fc_fff,.text-transform_uppercase,.transitionAll;
  background-color: #e269c4;
  padding: 0 23px;
  &:hover{
    background-color: #b55b97;
  }
}
.footer__copyrightLine{
  @extend .f_Montserrat-Regular,.fc_7e7e7e;
  font-size: 10px;
  letter-spacing: .5px;
  margin-top: 55px;
}

.popularCategory__title{
  @extend .def_title;
  padding: 75px 0;
  text-align: center;
}
.popularCategory__item{
  @extend .relative;
  margin-bottom: 30px;
  &.long{
    padding-top: 147.225%;
    @include media-breakpoint-down(xs){
      padding-top: 69.445%;
      img{
        object-position: top;
      }
    }
  }
  &.short{
    padding-top: 69.445%;
  }
  img{
    @extend .absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .categoryItemInfo{
    @extend .absolute;
    padding: 16px;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
  }
  &:hover{
    -webkit-filter: brightness(0.9);
    filter: brightness(0.9);
  }
}

.shopInfoLine{
  padding-top: 110px;
}
.shopInfo__textContainer{
  p{
    @extend .f_Montserrat-Medium,.fs_14,.flh_24,.fls_07,.fc_7e7e7e;
    &:not(:last-child){
      margin-bottom: 55px;
    }
  }
}
.shopInfo__imageRow{
  padding: 110px 0 55px;
}
.shopInfo__imageWrap{
  margin-bottom: 30px;
}
.shopInfo__imageBlock{
  @extend .relative;
  padding-bottom: 65.31%;
  img{
    @extend .absolute;
    width: 100%;
    height: 100%;
  }
}
.shopInfo__linkToMap{
  @extend .prodBuyButton;
}

.pageTitle{
  @extend .def_title;
  padding: 90px 0;
}

.breadCrumbsLine{
  padding-top: 36px;
}
.breadcrumb{
  @extend .f_Montserrat-Regular,.fs_12,.fls_06,.fc_7e7e7e,.flex,.align-items-center;
  line-height: 14px;
  li{
    @extend .relative;
    &:not(:first-child){
      padding-left: 25px;
      &:before{
        @extend .absolute;
        content: '';
        left: 10px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        display: block;
        width: 5px;
        height: 5px;
        background-color: #47b5b6;
        border-radius: 50%;
      }
    }
    &.active{
      color: #2e2e2e;
    }
    a{
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }
}
.pagination{
  ul{
    @extend .f_Montserrat-Medium,.fs_14,.fls_07,.flex,.fc_2e2e2e;
    margin-bottom: 100px;
    margin-top: 50px;
    li{
      @extend .relative,.transitionAll;
      width: 42px;
      height: 42px;
      border-radius: 2px;
      background-color: #ffffff;
      border: solid 1px #dedede;
      &:not(:last-child){
        margin-right: 1px;
      }
      &.active{
        color: #ffffff;
        background-color: #47b5b6;
        border-color: transparent;
      }
      &:hover{
        &:not(.active){
          color: #ffffff;
          background-color: #47b5b6;
          border-color: transparent;
        }
      }
      a,span{
        @extend .absolute_100prc,.flex,.justify-content-center,.align-items-center;
      }
    }
    @include media-breakpoint-down(md){
      margin-bottom: 60px;
    }
    @include media-breakpoint-down(sm){
      margin-bottom: 30px;
    }
  }
}

//CatalogPage
.filterForm{
}
.filterItem{
  padding: 30px;
  background-color: #f2f2f2;
  margin-bottom: 30px;
  label{
    cursor: pointer;
  }
  h3{
    @extend .f_Montserrat-SemiBold,.fs_14,.fls_07,.fc_2e2e2e;
  }
  &.sortBlock{
    label{
      width: 100%;
      margin-top: 30px;
    }
    select{
      @extend .f_Montserrat-Regular;
      cursor: pointer;
      min-height: 42px;
      width: 100%;
      padding-left: 16px;
      padding-right: 16px;
      border-radius: 10px;
      background-color: #ffffff;
      border: solid 1px #dedede;
    }
  }
  &.checkBlock{
    label{
      @extend .flex,.align-items-center;
      width: 100%;
      margin-bottom: 20px;
    }
    h3{
      margin-bottom: 24px;
    }
  }
}
.filterForm__checkWrap{
  margin-right: 15px;
}
.filterForm__checkMask{
  @extend .flex,.justify-content-center,.align-items-center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dedede;
}
.filterForm__checkbox{
  &:checked + .filterForm__checkMask{
    &:after{
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      border-radius: 2px;
      background-color: #47b5b6;
    }
  }
}
.filterForm__submit{
  @extend .prodBuyButton;
  max-width: none;
  margin-top: 60px;
}
.filterForm__checkColorWrap{
  @extend .flex,.justify-content-between,.flex-wrap;
  margin-top: 35px;
  margin-right: -15px;
  label{
    margin-right: 15px;
    margin-bottom: 20px;
  }
  .filterForm__checkColorMask{
    @extend .flex,.align-items-center,.justify-content-center,.relative;
    overflow: hidden;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    border: solid 1px #dedede;
    &:hover{
      .bgndFilter{
        background-color: rgba(0,0,0,0.5);
      }
    }
  }
  .filterForm__checkbox{
    &:checked + .filterForm__checkColorMask{
      &:after{
        @extend .relative;
        content: url("./checked_color.svg");
        font-size: 3px;
        margin-left: 2px;
      }
      .bgndFilter{
        background-color: rgba(0,0,0,0.5);
      }

    }
  }
}

//ProductPage
.productPage__productLine{
  margin-top: 90px;
  .imageWrap{
    @extend .relative;
    padding-top: 100%;
  }
}
.productImageRow{
  margin-left: -12px;
  margin-right: -12px;
}
.productImageCol{
  padding-left: 12px;
  padding-right: 12px;
}
.productImageNav{
  flex: 0 0 20%;
  max-width: 20%;
  .productImageCol{
    &:not(:last-child){
      margin-bottom: 24px;
    }
  }
}
.productViewImage{
  flex: 0 0 80%;
  max-width: 80%;
}
.productInfoBlock{
  padding-left: 30px;
}
.productTitle{
  @extend .def_title;
  margin-top: -15px;
  margin-bottom: 35px;
}
.prodPageStarWrap{
  @extend .flex;
  margin-bottom: 35px;
  .starBlock{
    cursor: pointer;
  }
}
.prodPageTextBlock{
  margin-bottom: 35px;
  .prodTextRow{
    @extend .f_Montserrat-Medium,.fs_14,.fls_07;
    &:not(:last-child){
      margin-bottom: 10px;
    }
    span{
      @extend .f_Montserrat-SemiBold,.fc_2e2e2e;
    }
  }
  .model{
    @extend .fc_7e7e7e;
  }
  .avail{
    @extend .fc_47b5b6;
  }
}
.blockTitle{
  @extend .f_Montserrat-SemiBold,.fs_14,.fls_07,.fc_2e2e2e;
  margin-bottom: 20px;
}
.prodPageVarBlock{
  margin-bottom: 25px;
  .blockContent{
    @extend .flex;
  }
  .varBlock{
    width: 110px;
    &:not(.active){
      cursor: pointer;
    }
    &:not(:last-child){
      margin-right: 5px;
    }
    &.active, &:hover{
      .varBlockImage{
        border-color: #47b5b6;
      }
    }
  }
  .varBlockImage{
    padding: 3px;
    border: solid 2px transparent;
    margin-bottom: 10px;
  }
  .varBlockText{
    @extend .f_Montserrat-Regular,.fs_12,.fls_06,.fc_2e2e2e,.text-align_center;
  }
}
.prodPage__countRow{
  @extend .flex,.align-items-center;
  margin-bottom: 35px;
  .prodPage__countItem{
    @extend .flex,.justify-content-center,.align-items-center,.f_Montserrat-Medium,.fs_24,.fc_47b5b6;
    width: 42px;
    height: 42px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #dedede;
    &:not(:last-child){
      margin-right: 1px;
    }
    &.input{
      @extend .fs_14,.fls_07,.fc_2e2e2e,.text-align_center;
    }
    &:hover{
      &:not(.input){
        background-color: #dedede;
      }
    }
  }
}
.prodPage__buttonBlock{
  @extend .flex,.align-items-center;
  .prodBuyButton{
    max-width: 200px;
    margin: 0;
    &:not(:last-child){
      margin-right: 15px;
    }
  }
  .wishListBtn{
    @extend .prodBuyButton;
    background-color: #f4b757;
    border-color: #f4b757;
    &:hover{
      color: #f4b757;
      svg{
        path{
          fill: #f4b757;
        }
      }
    }
  }
}
